.p1,
.p2,
.p3,
.p4 {
    display: none;
}

.logo {
    text-align: center;
}

.menucontainer {
    width: 1350px;
    margin: 0 auto;
}
.header .logo{
    width: 900px;
    margin: 0 auto;
}
.header{
    display: inline-block;
    float: left;
}
.header .menu {
    display: inline-block;
    width: 100%;
    background-color: darkblue;
    height: 50px;
    line-height: 50px;
}
.header .menu ul{
    display: flex;
}
.header .menu ul li {
    flex: auto;
    text-align: center;
}
.header .menu ul li a {
    color: #ffff;
    text-decoration: none;
    font-weight: 500;
}
.header .menu ul li:hover{
    background-color: black;
}
body {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}