.p1,
.p2,
.p3,
.p4 {
    display: none;
}

.logo {
    text-align: center;
}

nav {
    text-align: center;
    color: white;
}

nav a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-align: center;
    color: #0e027e;
    padding: 1px;
    font-size: 30px;
}

body {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}



.a {
    text-orientation: initial;
    background-position: center;
    height: 600px;
    text-align: center;
    background: url("../IMAGES/4.webp");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%
}

.bold {
    font-weight: bolder;
    font-size: 38px;
    text-transform: capitalize;
}

.b {
    background-color: white
}

.c {
    background-color: white;
    text-orientation: initial;
    background-position: center;
    height: 600px;
    text-align: center;
    background: url("../IMAGES/c4.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%
}

.d {
    background-color: white;

}

.e {
    background-color: white;
    text-orientation: initial;
    background-position: center;
    height: 600px;
    text-align: center;
    background: url("../IMAGES/c2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%
}




.icon {
    display: flex;
    justify-content: center;


}

nav a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-align: center;
    color: rgb(87, 33, 33);
    padding: 1px;
}

body {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.icons {
    display: flex;
    justify-content: center;

}

.footer {
    display: flex;
    text-align: center;
    padding: 2%;

}

.facebook a {
    padding: 10px;
}

.google a {
    padding: 10px;
}

.pinterest a {
    padding: 10px;
}

.skype a {
    padding: 10px;
}

.twitter a {
    padding: 10px;
}


.youtube a {
    padding: 10px;
}

.total-amount,
.delivery-cost {
    font-weight: bold;
    font-size: 1.6em;
}

.hidden {
    display: none;
}

.checkout-options,
.location {
    color: white;
    z-index: 5;
    border-radius: 15px;
    padding: 20px;
    width: 60%;
    height: 70vh;
    background: rgb(17, 4, 194);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}